body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:307px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u911_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:291px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:291px;
}
#u911_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:8px;
  width:119px;
  height:30px;
  text-align:left;
}
#u912_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:16px;
  width:112px;
  height:22px;
}
#u913_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u913_input:disabled {
  color:grayText;
}
#u913_ann {
  border-width:0px;
  position:absolute;
  left:184px;
  top:12px;
  width:1px;
  height:1px;
}
#u914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:16px;
  width:65px;
  height:22px;
}
#u914_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:61px;
  word-wrap:break-word;
}
#u915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:48px;
  width:119px;
  height:30px;
  text-align:left;
}
#u915_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:55px;
  width:12px;
  height:12px;
}
#u916_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u916_ann {
  border-width:0px;
  position:absolute;
  left:239px;
  top:51px;
  width:1px;
  height:1px;
}
#u917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:78px;
  width:119px;
  height:30px;
  text-align:left;
}
#u917_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:87px;
  width:12px;
  height:12px;
}
#u918_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_ann {
  border-width:0px;
  position:absolute;
  left:239px;
  top:83px;
  width:1px;
  height:1px;
}
#u919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:151px;
  width:119px;
  height:30px;
  text-align:left;
}
#u919_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:115px;
  word-wrap:break-word;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:155px;
  width:112px;
  height:22px;
}
#u920_input {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u920_input:disabled {
  color:grayText;
}
#u920_ann {
  border-width:0px;
  position:absolute;
  left:237px;
  top:151px;
  width:1px;
  height:1px;
}
#u921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
  text-align:left;
}
#u921 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:102px;
  width:289px;
  height:43px;
  font-size:12px;
  color:#FF0000;
  text-align:left;
}
#u921_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:285px;
  word-wrap:break-word;
}
#u922 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u923 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:214px;
  width:58px;
  height:22px;
}
#u923_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:54px;
  word-wrap:break-word;
}
#u924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:22px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u924 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:214px;
  width:58px;
  height:22px;
}
#u924_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:54px;
  word-wrap:break-word;
}
