body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:984px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u865 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u866 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u867 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:888px;
  height:398px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u868 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:888px;
  height:398px;
  text-align:left;
}
#u868_text {
  border-width:0px;
  position:absolute;
  left:25px;
  top:25px;
  width:861px;
  word-wrap:break-word;
}
#u869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u869 {
  border-width:0px;
  position:absolute;
  left:777px;
  top:318px;
  width:94px;
  height:40px;
}
#u869_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:90px;
  word-wrap:break-word;
}
#u870 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:95px;
  width:847px;
  height:159px;
}
#u871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:55px;
}
#u871 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:55px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u871_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:117px;
  word-wrap:break-word;
}
#u872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:55px;
}
#u872 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:0px;
  width:121px;
  height:55px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u872_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:117px;
  word-wrap:break-word;
}
#u873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:55px;
}
#u873 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:0px;
  width:121px;
  height:55px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u873_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:117px;
  word-wrap:break-word;
}
#u874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:55px;
}
#u874 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:0px;
  width:121px;
  height:55px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u874_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:117px;
  word-wrap:break-word;
}
#u875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:55px;
}
#u875 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:0px;
  width:123px;
  height:55px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u875_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:119px;
  word-wrap:break-word;
}
#u876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:55px;
}
#u876 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:0px;
  width:118px;
  height:55px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u876_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:114px;
  word-wrap:break-word;
}
#u877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:55px;
}
#u877 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:0px;
  width:122px;
  height:55px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u877_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:118px;
  word-wrap:break-word;
}
#u878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:104px;
}
#u878 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:55px;
  width:121px;
  height:104px;
}
#u878_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:104px;
}
#u879 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:55px;
  width:121px;
  height:104px;
}
#u879_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:104px;
}
#u880 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:55px;
  width:121px;
  height:104px;
}
#u880_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:104px;
}
#u881 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:55px;
  width:121px;
  height:104px;
}
#u881_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:104px;
}
#u882 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:55px;
  width:123px;
  height:104px;
}
#u882_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:104px;
}
#u883 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:55px;
  width:118px;
  height:104px;
}
#u883_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:104px;
}
#u884 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:55px;
  width:122px;
  height:104px;
}
#u884_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u885 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:861px;
  height:56px;
}
#u886 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:16px;
  width:861px;
  height:56px;
  text-align:left;
}
#u886_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:25px;
  width:859px;
  word-wrap:break-word;
}
#u887 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u888_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u888 {
  border-width:0px;
  position:absolute;
  left:162px;
  top:30px;
  width:84px;
  height:28px;
}
#u888_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u889 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u890 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:360px;
}
#u891 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:16px;
  width:530px;
  height:350px;
}
#u891_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u892 {
  border-width:0px;
  position:absolute;
  left:601px;
  top:342px;
  width:161px;
  height:24px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:40px;
}
#u893 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:32px;
  width:122px;
  height:40px;
}
#u893_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  height:165px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u894 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:209px;
  width:555px;
  height:165px;
}
#u894_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:551px;
  word-wrap:break-word;
}
#u895_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:974px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u895 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:51px;
  width:974px;
  height:54px;
  text-align:left;
}
#u895_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:970px;
  word-wrap:break-word;
}
